apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: teamfinder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: anantha15/teamfinder-frontend:2.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
